.menu-lateral {
  float: left;
  background-color: #5BADFF;
  width: 50px;
  height: 100%;
  text-align: center;
}
.icon-home {
  height: 20px;
  width: 20px;
}
.icon-setting {
  height: 20px;
  width: 20px;
}

.lista-de-quadros li {
  list-style: none;
}
.quadro {
  background-color: white;
  height: 150px;
  width: 200px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* sombra */
  -webkit-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  /* borda */
  border: 1px solid #E2DEDE;
}
.novo-quadro {
  background-color: white;
  height: 150px;
  width: 200px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* sombra */
  -webkit-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  /* borda */
  border: 1px solid #E2DEDE;
}

.busca {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20px;
}

.quadros {
  text-align: center;
  display: flex;
}

.lista-de-quadros {
  display: flex;
}
