.items {
  width: 100%;
}
.item {
  float: left;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* sombra */
  -webkit-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  /* borda */
  border: 1px solid #E2DEDE;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
#dropzone {
  padding: 20px;
  background: #eee;
  min-height: 100px;
  margin-bottom: 20px;
  z-index: 0;
  border-radius: 10px;
}
.menu-lateral {
  background-color: #38393d;
  width: 50px;
  float: left;
  height: 100%;
  text-align: center;
}
