.menu-lateral {
  float: left;
  background-color: #5BADFF;
  width: 50px;
  height: 100%;
  text-align: center;
}
.item {
  float: left;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* sombra */
  -webkit-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  box-shadow: 7px 6px 22px -8px rgba(0, 0, 0, 0.31);
  /* borda */
  border: 1px solid #E2DEDE;
}
.icon-home {
  height: 20px;
  width: 20px;
}
.icon-setting {
  height: 20px;
  width: 20px;
}
